<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zihao.taxhelperai.mapper.BankCardMapper">

    <resultMap type="com.zihao.taxhelperai.model.entity.BankCard" id="BankCardResult">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="bankCardNo" column="bankCardNo"/>
        <result property="bankName" column="bankName"/>
        <result property="province" column="province"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

</mapper>