<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zihao.taxhelperai.mapper.TaxRecordMapper">

    <resultMap id="BaseResultMap" type="com.zihao.taxhelperai.model.entity.TaxRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="income" column="income" jdbcType="DECIMAL"/>
            <result property="insurance" column="insurance" jdbcType="DECIMAL"/>
            <result property="deduct" column="deduct" jdbcType="DECIMAL"/>
            <result property="taxAmount" column="tax_amount" jdbcType="DECIMAL"/>
            <result property="calcType" column="calc_type" jdbcType="TINYINT"/>
            <result property="calcTime" column="calc_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,income,
        insurance,deduct,tax_amount,
        calc_type,calc_time,isDelete
    </sql>
</mapper>
